SUBSYSTEM=="input", 
KERNEL=="event[0-9]*",ENV{ID_INPUT_TOUCHSCREEN}=="1",ENV{LIBINPUT_CALIBRATION_MATRIX}="1.035375 -0.022501 0.015155 1.032532 -0.029904"
