[Unit]
Description=Expand root file system
Before=local-fs-pre.target systemd-remount-fs.service
DefaultDependencies=no

[Service]
Type=oneshot
TimeoutSec=0
ExecStart=/usr/sbin/expand-rootfs
ExecStart=/bin/systemctl --no-reload disable %n

[Install]
RequiredBy=local-fs-pre.target
